# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Learn.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\PROJEKTY\unity\Learn\.idea\.idea.Learn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
